img[alt=distibot_logo] { width: 45%; float: left; }
h2[id=проект-дистибот---дистиляционный-робот] { padding-top: 25px; }
.right-ul { padding-left: 50%; }
#mobile-menu li a { padding: 0 5px 0 5px; font-weight: bold; color: #fff; }
#mobile-menu li a:hover:not(.active) { color: #000; background-color: #fff;}
#mobile-menu .active { background-color: #777; color: #000; }
