 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1350px;
	 height: 768px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer5 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1350px;
	 height: 768px;
	 z-index:1;
} 

 #Layer0 
{ 
	 left: 93px; 
	 top: 7px; 
	 position: absolute; 
	 width: 1230px;
	 height: 724px;
	 z-index:2;
} 

 #AllRightsReservedCop 
{ 
	 left: 444px; 
	 top: 739px; 
	 position: absolute; 
	 width: 484px;
	 height: 22px;
	 z-index:3;
} 

 #StatisticsVisitors 
{ 
	 left: 755px; 
	 top: 426px; 
	 position: absolute; 
	 width: 197px;
	 height: 25px;
	 z-index:4;
} 

 #Shape11 
{ 
	 left: 737px; 
	 top: 185px; 
	 position: absolute; 
	 width: 220px;
	 height: 220px;
	 z-index:5;
} 

 #Shape12 
{ 
	 left: 778px; 
	 top: 225px; 
	 position: absolute; 
	 width: 139px;
	 height: 139px;
	 z-index:6;
} 

 #layer_70 
{ 
	 left: 806px; 
	 top: 277px; 
	 position: absolute; 
	 width: 90px;
	 height: 38px;
	 z-index:7;
} 

 #Shape11copy 
{ 
	 left: 737px; 
	 top: 151px; 
	 position: absolute; 
	 width: 285px;
	 height: 254px;
	 z-index:8;
} 

 #ActiveVisitors 
{ 
	 left: 1086px; 
	 top: 419px; 
	 position: absolute; 
	 width: 156px;
	 height: 21px;
	 z-index:9;
} 

 #Shape11_0 
{ 
	 left: 1046px; 
	 top: 185px; 
	 position: absolute; 
	 width: 220px;
	 height: 220px;
	 z-index:10;
} 

 #Shape12_0 
{ 
	 left: 1087px; 
	 top: 225px; 
	 position: absolute; 
	 width: 139px;
	 height: 139px;
	 z-index:11;
} 

 #layer_60 
{ 
	 left: 1116px; 
	 top: 277px; 
	 position: absolute; 
	 width: 90px;
	 height: 38px;
	 z-index:12;
} 

 #Shape11copy_0 
{ 
	 left: 1046px; 
	 top: 151px; 
	 position: absolute; 
	 width: 285px;
	 height: 254px;
	 z-index:13;
} 

 #Calendar 
{ 
	 left: 176px; 
	 top: 463px; 
	 position: absolute; 
	 width: 101px;
	 height: 22px;
	 z-index:14;
} 

 #Shape13copy9 
{ 
	 left: 172px; 
	 top: 495px; 
	 position: absolute; 
	 width: 251px;
	 height: 194px;
	 z-index:15;
} 

 #SMTWT 
{ 
	 left: 197px; 
	 top: 520px; 
	 position: absolute; 
	 width: 203px;
	 height: 13px;
	 z-index:16;
} 

 #layer_1234 
{ 
	 left: 262px; 
	 top: 544px; 
	 position: absolute; 
	 width: 137px;
	 height: 11px;
	 z-index:17;
} 

 #layer_67891 
{ 
	 left: 197px; 
	 top: 568px; 
	 position: absolute; 
	 width: 203px;
	 height: 11px;
	 z-index:18;
} 

 #Shape20 
{ 
	 left: 311px; 
	 top: 587px; 
	 position: absolute; 
	 width: 31px;
	 height: 26px;
	 z-index:19;
} 

 #layer_1314151617 
{ 
	 left: 193px; 
	 top: 595px; 
	 position: absolute; 
	 width: 206px;
	 height: 12px;
	 z-index:20;
} 

 #layer_2021222324 
{ 
	 left: 192px; 
	 top: 621px; 
	 position: absolute; 
	 width: 207px;
	 height: 12px;
	 z-index:21;
} 

 #layer_2728293031 
{ 
	 left: 192px; 
	 top: 650px; 
	 position: absolute; 
	 width: 143px;
	 height: 11px;
	 z-index:22;
} 

 #Shape2 
{ 
	 left: 12px; 
	 top: 185px; 
	 position: absolute; 
	 width: 98px;
	 height: 80px;
	 z-index:23;
} 

 #Shape3 
{ 
	 left: 29px; 
	 top: 103px; 
	 position: absolute; 
	 width: 41px;
	 height: 41px;
	 z-index:24;
} 

 #Shape4 
{ 
	 left: 31px; 
	 top: 205px; 
	 position: absolute; 
	 width: 45px;
	 height: 39px;
	 z-index:25;
} 

 #Report 
{ 
	 left: 30px; 
	 top: 152px; 
	 position: absolute; 
	 width: 42px;
	 height: 15px;
	 z-index:26;
} 

 #Widgets 
{ 
	 left: 25px; 
	 top: 334px; 
	 position: absolute; 
	 width: 51px;
	 height: 16px;
	 z-index:27;
} 

 #Shape5 
{ 
	 left: 31px; 
	 top: 289px; 
	 position: absolute; 
	 width: 37px;
	 height: 37px;
	 z-index:28;
} 

 #MetroUIDashboard 
{ 
	 left: 175px; 
	 top: 30px; 
	 position: absolute; 
	 width: 254px;
	 height: 28px;
	 z-index:29;
} 

 #back 
{ 
	 left: 123px; 
	 top: 27px; 
	 position: absolute; 
	 width: 36px;
	 height: 36px;
	 z-index:30;
} 

 #Layer2 
{ 
	 left: 672px; 
	 top: 42px; 
	 position: absolute; 
	 width: 190px;
	 height: 44px;
	 z-index:31;
} 

 #HomeStandardreportin 
{ 
	 left: 602px; 
	 top: 54px; 
	 position: absolute; 
	 width: 411px;
	 height: 20px;
	 z-index:32;
} 

 #Layer6copy 
{ 
	 left: 1105px; 
	 top: 84px; 
	 position: absolute; 
	 width: 193px;
	 height: 35px;
	 z-index:33;
} 

 #Layer6 
{ 
	 left: 173px; 
	 top: 84px; 
	 position: absolute; 
	 width: 924px;
	 height: 35px;
	 z-index:34;
} 

 #Shape6 
{ 
	 left: 182px; 
	 top: 91px; 
	 position: absolute; 
	 width: 18px;
	 height: 21px;
	 z-index:35;
} 

 #ExportreportasPDFA 
{ 
	 left: 207px; 
	 top: 95px; 
	 position: absolute; 
	 width: 1044px;
	 height: 16px;
	 z-index:36;
} 

 #Shape11_1 
{ 
	 left: 1264px; 
	 top: 92px; 
	 position: absolute; 
	 width: 14px;
	 height: 19px;
	 z-index:37;
} 

 #Shape10 
{ 
	 left: 936px; 
	 top: 93px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:38;
} 

 #Shape9 
{ 
	 left: 720px; 
	 top: 92px; 
	 position: absolute; 
	 width: 21px;
	 height: 21px;
	 z-index:39;
} 

 #Shape8 
{ 
	 left: 547px; 
	 top: 90px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:40;
} 

 #Shape7 
{ 
	 left: 363px; 
	 top: 90px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:41;
} 

 #Username 
{ 
	 left: 1171px; 
	 top: 54px; 
	 position: absolute; 
	 width: 67px;
	 height: 12px;
	 z-index:42;
} 

 #Layer4 
{ 
	 left: 1258px; 
	 top: 51px; 
	 position: absolute; 
	 width: 37px;
	 height: 19px;
	 z-index:43;
} 

 #Shape1 
{ 
	 left: 1271px; 
	 top: 58px; 
	 position: absolute; 
	 width: 12px;
	 height: 8px;
	 z-index:44;
} 

 #Layer3 
{ 
	 left: 1122px; 
	 top: 47px; 
	 position: absolute; 
	 width: 36px;
	 height: 29px;
	 z-index:45;
} 

 #Perfomence 
{ 
	 left: 178px; 
	 top: 151px; 
	 position: absolute; 
	 width: 153px;
	 height: 25px;
	 z-index:46;
} 

 #Shape13 
{ 
	 left: 172px; 
	 top: 194px; 
	 position: absolute; 
	 width: 268px;
	 height: 142px;
	 z-index:47;
} 

 #layer_1305 
{ 
	 left: 200px; 
	 top: 237px; 
	 position: absolute; 
	 width: 162px;
	 height: 42px;
	 z-index:48;
} 

 #Returningvisitors 
{ 
	 left: 206px; 
	 top: 302px; 
	 position: absolute; 
	 width: 177px;
	 height: 24px;
	 z-index:49;
} 

 #Shape14 
{ 
	 left: 404px; 
	 top: 307px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:50;
} 

 #Shape13copy 
{ 
	 left: 446px; 
	 top: 194px; 
	 position: absolute; 
	 width: 227px;
	 height: 142px;
	 z-index:51;
} 

 #Shape19 
{ 
	 left: 529px; 
	 top: 211px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:52;
} 

 #Shape15 
{ 
	 left: 473px; 
	 top: 200px; 
	 position: absolute; 
	 width: 182px;
	 height: 79px;
	 z-index:53;
} 

 #Shape16 
{ 
	 left: 476px; 
	 top: 224px; 
	 position: absolute; 
	 width: 60px;
	 height: 51px;
	 z-index:54;
} 

 #Shape17 
{ 
	 left: 546px; 
	 top: 224px; 
	 position: absolute; 
	 width: 47px;
	 height: 27px;
	 z-index:55;
} 

 #Shape18 
{ 
	 left: 590px; 
	 top: 207px; 
	 position: absolute; 
	 width: 56px;
	 height: 41px;
	 z-index:56;
} 

 #Yourgoals 
{ 
	 left: 518px; 
	 top: 301px; 
	 position: absolute; 
	 width: 111px;
	 height: 25px;
	 z-index:57;
} 

 #layer_10 
{ 
	 left: 474px; 
	 top: 281px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:58;
} 

 #layer_20 
{ 
	 left: 532px; 
	 top: 233px; 
	 position: absolute; 
	 width: 17px;
	 height: 14px;
	 z-index:59;
} 

 #layer_15 
{ 
	 left: 581px; 
	 top: 257px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:60;
} 

 #layer_30 
{ 
	 left: 639px; 
	 top: 220px; 
	 position: absolute; 
	 width: 17px;
	 height: 14px;
	 z-index:61;
} 

 #Shape14copy 
{ 
	 left: 637px; 
	 top: 307px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:62;
} 

 #Shape13copy2 
{ 
	 left: 172px; 
	 top: 342px; 
	 position: absolute; 
	 width: 501px;
	 height: 106px;
	 z-index:63;
} 

 #Shape13copy3 
{ 
	 left: 195px; 
	 top: 407px; 
	 position: absolute; 
	 width: 227px;
	 height: 28px;
	 z-index:64;
} 

 #Shape13copy6 
{ 
	 left: 442px; 
	 top: 368px; 
	 position: absolute; 
	 width: 19px;
	 height: 17px;
	 z-index:65;
} 

 #Shape13copy5 
{ 
	 left: 422px; 
	 top: 407px; 
	 position: absolute; 
	 width: 227px;
	 height: 28px;
	 z-index:66;
} 

 #Shape13copy4 
{ 
	 left: 316px; 
	 top: 407px; 
	 position: absolute; 
	 width: 227px;
	 height: 28px;
	 z-index:67;
} 

 #Realtimereport 
{ 
	 left: 198px; 
	 top: 362px; 
	 position: absolute; 
	 width: 194px;
	 height: 29px;
	 z-index:68;
} 

 #Direct 
{ 
	 left: 469px; 
	 top: 371px; 
	 position: absolute; 
	 width: 32px;
	 height: 11px;
	 z-index:69;
} 

 #Shape13copy7 
{ 
	 left: 511px; 
	 top: 368px; 
	 position: absolute; 
	 width: 19px;
	 height: 17px;
	 z-index:70;
} 

 #Social 
{ 
	 left: 537px; 
	 top: 371px; 
	 position: absolute; 
	 width: 31px;
	 height: 11px;
	 z-index:71;
} 

 #Shape13copy8 
{ 
	 left: 582px; 
	 top: 368px; 
	 position: absolute; 
	 width: 19px;
	 height: 17px;
	 z-index:72;
} 

 #Search 
{ 
	 left: 608px; 
	 top: 371px; 
	 position: absolute; 
	 width: 37px;
	 height: 11px;
	 z-index:73;
} 

 #layer_20_0 
{ 
	 left: 207px; 
	 top: 414px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:74;
} 

 #layer_50 
{ 
	 left: 330px; 
	 top: 414px; 
	 position: absolute; 
	 width: 18px;
	 height: 15px;
	 z-index:75;
} 

 #layer_30_0 
{ 
	 left: 551px; 
	 top: 414px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:76;
} 

 #Shape13copy10 
{ 
	 left: 430px; 
	 top: 496px; 
	 position: absolute; 
	 width: 844px;
	 height: 42px;
	 z-index:77;
} 

 #Shape13copy11 
{ 
	 left: 430px; 
	 top: 535px; 
	 position: absolute; 
	 width: 844px;
	 height: 41px;
	 z-index:78;
} 

 #Shape13copy12 
{ 
	 left: 430px; 
	 top: 573px; 
	 position: absolute; 
	 width: 844px;
	 height: 41px;
	 z-index:79;
} 

 #Shape13copy13 
{ 
	 left: 430px; 
	 top: 611px; 
	 position: absolute; 
	 width: 844px;
	 height: 41px;
	 z-index:80;
} 

 #Shape13copy14 
{ 
	 left: 430px; 
	 top: 649px; 
	 position: absolute; 
	 width: 844px;
	 height: 41px;
	 z-index:81;
} 

 #TopkeywordsGoogle105 
{ 
	 left: 480px; 
	 top: 508px; 
	 position: absolute; 
	 width: 555px;
	 height: 22px;
	 z-index:82;
} 

 #TopReferralsFacebook 
{ 
	 left: 480px; 
	 top: 545px; 
	 position: absolute; 
	 width: 650px;
	 height: 21px;
	 z-index:83;
} 

 #TopSocialTrafficFace 
{ 
	 left: 480px; 
	 top: 583px; 
	 position: absolute; 
	 width: 772px;
	 height: 21px;
	 z-index:84;
} 

 #Layer7 
{ 
	 left: 468px; 
	 top: 497px; 
	 position: absolute; 
	 width: 1px;
	 height: 192px;
	 z-index:85;
} 

 #TopActivePages 
{ 
	 left: 480px; 
	 top: 622px; 
	 position: absolute; 
	 width: 677px;
	 height: 21px;
	 z-index:86;
} 

 #TopLocationsIndia158 
{ 
	 left: 480px; 
	 top: 660px; 
	 position: absolute; 
	 width: 720px;
	 height: 21px;
	 z-index:87;
} 

 #layer_88 
{ 
	 left: 442px; 
	 top: 508px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:88;
} 

 #copy 
{ 
	 left: 442px; 
	 top: 546px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:89;
} 

 #copy2 
{ 
	 left: 442px; 
	 top: 585px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:90;
} 

 #copy3 
{ 
	 left: 442px; 
	 top: 622px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:91;
} 

 #copy4 
{ 
	 left: 442px; 
	 top: 660px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:92;
} 
