---
---

@import "{{ site.theme }}";
#forkme_banner {display: none;}
#main_content_wrap { background: #faf4df; }
#main_content { padding-top: 0; }
#header_wrap .inner { padding-top: 10px; }
#project_title { padding: 0 0 0 10px; }
#project_tagline { padding: 0 0 0 10px; margin: 0; }
